# Dépendances du module
colorama      # Permet l'affichage de la couleur dans la console
numpy         # Bibliothèque basique de python
pandas        # Bibliothèque nécessaire pour plotly

# Dépendances pour les Tests (pytest et ses "plugins")
pytest
pytest-cov
pytest-json
pytest-json-report
pytest-metadata

# Dépendances pour la documentation
sphinx
sphinx-autobuild
sphinx-rtd-theme
ansi2html     # Convertisseur ANSI vers HTML

# Dépendances de python-tracer installées avec pip
tifffile
matplotlib
scikit-image
scipy
opencv-python
dask
dask_image
napari
deprecated
h5py
line_profiler
pyyaml
seaborn
scikit-learn
tqdm
pyqt5
tensorboard
cmake         # Pour compiler spline (module decode)
ninja         # Pour compiler spline (module decode)
bump2version
pybind11

# pytorch
--index-url https://download.pytorch.org/whl/cu126
torch
torchvision
torchaudio
pycuda


# Commandes complémentaires :
# cmake -S ../cpp_cuda_c -B build ^
#      -DPython_EXECUTABLE="C:\Git\PythonTracer\venv\Scripts\python.exe" ^
#      -Dpybind11_DIR="C:\Git\PythonTracer\venv\Lib\site-packages\pybind11\share\cmake\pybind11" ^
#      -G "Visual Studio 17 2022"
#
# python setup.py bdist_wheel (depuis le dossier SplinePSF/python)
# pip install dist\spline-0.10.1.dev0-cp313-cp313-win_amd64.whl --force-reinstall
# Sinon, drag & drop le fichier
